.text_overlay_banner_block2 {
  padding-bottom: 0;
}

.about-mission {
  padding: 20px;
}

.section-subtitle {
  font-size: 20px;
  max-width: 900px;
  margin: 0 auto;
}

.thirty_one_day_card_content3 {
  background-image: url("../img/heroes14.webp");
  height: 30px;
}

.pillars {
  padding: 0;
}

.purity_challenge_intro_block {
  padding: 20px;
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 500px;
  align-items: center;
}

.thirty_one_day_card_title {
  min-height: 147px;
}

.purity_challenge_intro_block_text {
  height: 600px;
}

.purity_challenge_intro_block {
  height: 500px;
  align-items: center;
}

.purity_challenge_intro_block_picture {
  height: 100%;
}

.intro-paragraph span {
  font-size: 48px;
  margin-bottom: 20px;
  display: block;
}

.intro-paragraph {
  max-width: fit-content;
  font-size: 18px;
  line-height: normal;
  position: absolute;
  left: 40%;
  top: 50%;
  transform: translate(-34%, -50%);
  color: #fff;
  text-shadow: 1px 1px 2px #000000;
  font-weight: 500;
  text-align: center;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 20px;
}

@media screen and (max-width: 991px) {
  .intro-paragraph {
    left: 8%;
    transform: translate(-4%, -50%);
  }

  .intro-paragraph span {
    font-size: 40px;
  }
}

@media screen and (max-width: 767px) {
  .intro-paragraph {
    left: 14%;
    transform: translate(-8%, -50%);
  }

  .intro-paragraph span {
    font-size: 28px;
  }
}
