.text_overlay_banner_block2 {
  padding-bottom: 0;
}

.about-mission {
  padding: 20px;
}

.section-subtitle {
  font-size: 20px;
  max-width: 900px;
  margin: 0 auto;
}

.thirty_one_day_card_content3 {
  background-image: url("../img/heroes14.webp");
  height: 30px;
}

.pillars {
  padding: 0;
}

.purity_challenge_intro_block {
  padding: 20px;
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 500px;
  align-items: center;
}

.thirty_one_day_card_title {
  min-height: 147px;
}

.purity_challenge_intro_block_text {
  height: 600px;
}

.purity_challenge_intro_block {
  height: 500px;
  align-items: center;
}

.purity_challenge_intro_block_picture {
  height: 100%;
}

.intro-paragraph span {
  font-size: 48px;
  margin-bottom: 20px;
  display: block;
}

.intro-paragraph {
  max-width: fit-content;
  font-size: 18px;
  line-height: normal;
  position: absolute;
  left: 40%;
  top: 50%;
  transform: translate(-34%, -50%);
  color: #fff;
  text-shadow: 1px 1px 2px #000000;
  font-weight: 500;
  text-align: center;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 20px;
}

/* Start focus on a mission block */

.focus_on_mission_wrapper {
  position: relative;
  background: url("../img/heroes8.webp") center/cover no-repeat;
  padding: 40px;
}

.focus_on_mission_title {
  font-size: 32px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 40px;
  max-width: 500px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.focus_on_mission_cards {
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
  max-width: 70%;
  margin-left: auto;
}

.focus_on_mission_card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 12px;
  padding: 20px 30px;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  position: relative;
}

.focus_on_mission_card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.05)
  );
  border-radius: inherit;
}

.focus_on_mission_card h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  text-shadow: 1px 1px 2px #000000;
}

.focus_on_mission_card p {
  margin: 0;
  font-size: 14px;
  color: #fff;
  max-width: 300px;
}

/* End focus on a mission block  */

@media screen and (max-width: 991px) {
  .intro-paragraph {
    left: 8%;
    transform: translate(-4%, -50%);
  }

  .intro-paragraph span {
    font-size: 40px;
  }
}

@media screen and (max-width: 767px) {
  .intro-paragraph {
    left: 14%;
    transform: translate(-8%, -50%);
  }

  .intro-paragraph span {
    font-size: 28px;
  }
}
